<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OwnerGPT Admin</title>
    
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <div class="wrapper-container">
        <header></header>
    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer></footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
