[submodule "OwnerGPT.LLM/Native/llama.cpp"]
	path = OwnerGPT.LLM/Native/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "OwnerGPT.LLM/Native/-f"]
	path = OwnerGPT.LLM/Native/-f
	url = https://github.com/dranger003/llama.cpp.git
[submodule "OwnerGPT.LLM/Native/llama.cpp.repository"]
	path = OwnerGPT.LLM/Native/llama.cpp.repository
	url = https://github.com/dranger003/llama.cpp.git
