@{
    ViewData["Title"] = "Manage Account";
}

<div class="relative rounded-lg overflow-hidden box-shadow bg-white h-full py-5 px-8">
    <!-- Card header -->
    <div class="items-center justify-between lg:flex">
        <div class="mb-4 lg:mb-0 pb-5 pt-3">
            <h3 class="mb-2 text-xl font-bold text-gray-900">User Manager</h3>
            <span class="text-base font-normal text-gray-500">This is a list of system's users</span>
        </div>
    </div>
    <!-- Table -->
    <div class="flex flex-col justify-center w-full mt-6">
        <div class="overflow-x-auto rounded-lg">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow sm:rounded-lg">
                    <table class="min-w-full text-center divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-gray-500 uppercase">
                                    Email
                                </th>
                                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-gray-500 uppercase">
                                    Username
                                </th>
                                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-gray-500 uppercase">
                                    Last Sign-in
                                </th>
                                <th scope="col" class="p-4 text-xs font-medium tracking-wider text-gray-500 uppercase">
                                    Role
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr>
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr class="bg-gray-50">
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap">
                                    ****@@domain.com
                                </td>
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
                                    ****
                                </td>
                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap">
                                    Last Day
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>