@model List<Account>

@{
    ViewData["Title"] = "Manage Account";
}

<div class="relative rounded-lg overflow-hidden box-shadow bg-white pt-5 pb-12 px-8">
    <!-- Card header -->
    <div class="items-center justify-between lg:flex mb-4">
        <div class="mb-4 lg:mb-0 pb-5 pt-3">
            <h3 class="mb-2 text-xl font-bold text-gray-900">User Manager</h3>
            <span class="text-base font-normal text-gray-500">This is a list of system's users</span>
        </div>
    </div>
    <!-- Table -->

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-white uppercase bg-indigo-600">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last Signin
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Is Active
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                 @foreach(var account in Model)
                {
                    <tr class="bg-white border-b hover:bg-gray-50">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            @account.Id
                        </th>
                        <td class="px-6 py-4">
                            @account.Email
                        </td>
                        <td class="px-6 py-4">
                            @account.LastSignin
                        </td>
                        <td class="px-6 py-4">
                            @account.Active
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>