@{
    ViewData["Title"] = "Request Access";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OwnerGPT Admin</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- TODO: Siwtch back to ~/dist/site.css on deployment -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-indigo-600">

    <div class="h-[100%] w-[100%] absolute overflow-hidden">
        @await Html.PartialAsync("_DynamicBackground")
    </div>

    <div class="wrapper-container">
        <main class="relative h-[100%] w-[100%]" role="main">
            <section class="flex items-center justify-center h-[100%] w-[100%]">
                <div class="w-full bg-white rounded-lg shadow md:mt-0 p-5 px-4 sm:max-w-md xl:p-0">
                    <h3 class="text-xl font-bold text-gray-900 px-6 pt-6">Agents</h3>
                    <div class="px-4 py-2">
                        <form id="agent-configuration-form" method="post" class="mx-auto mt-4">
                            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                                <input name="id" value="Model.Id" hidden />

                                <div class="sm:col-span-2">
                                    <label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
                                    <div class="mt-2.5">
                                        <input placeholder="example@@gmail.com" type="text" name="name" id="name" autocomplete="name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                </div>



                                <div class="sm:col-span-2">
                                    <label for="urls" class="block text-sm font-semibold leading-6 text-gray-900">Reason Of Request <span class="text-xs text-gray-500">(optional)</span></label>
                                    <div class="mt-2.5">
                                        <textarea placeholder="https://example.com https://another-example.com" name="urls" id="urls" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-6 mb-4">
                                <button id="submit-configuration" type="button" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <footer></footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
