@{
    ViewData["Title"] = "Home Page";
}

<div class="relative rounded-lg overflow-hidden h-full">
    <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
        <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex sm:p-6">
            <div class="w-full">
                <h3 class="text-base font-normal text-gray-500">New products</h3>
                <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl">2,340</span>
                <p class="flex items-center text-base font-normal text-gray-500">
                    <span class="flex items-center mr-1.5 text-sm text-green-500">
                        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
                        </svg>
                        12.5%
                    </span>
                    Since last month
                </p>
            </div>
            <div class="w-full" id="new-products-chart" style="min-height: 155px;"><div id="apexchartsafmf5kn3h" class="apexcharts-canvas apexchartsafmf5kn3h apexcharts-theme-light" style="width: 232px; height: 140px;"><svg id="SvgjsSvg3959" width="232" height="140" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG3961" class="apexcharts-inner apexcharts-graphical" transform="translate(12, 30)"><defs id="SvgjsDefs3960"><linearGradient id="SvgjsLinearGradient3965" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop3966" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop3967" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop3968" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient><clipPath id="gridRectMaskafmf5kn3h"><rect id="SvgjsRect3970" width="219" height="83" x="-4.5" y="-2.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskafmf5kn3h"></clipPath><clipPath id="nonForecastMaskafmf5kn3h"></clipPath><clipPath id="gridRectMarkerMaskafmf5kn3h"><rect id="SvgjsRect3971" width="214" height="82" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><rect id="SvgjsRect3969" width="27" height="78" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient3965)" class="apexcharts-xcrosshairs" y2="78" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG3990" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG3991" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG4000" class="apexcharts-grid"><g id="SvgjsG4001" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine4003" x1="0" y1="0" x2="210" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4004" x1="0" y1="19.5" x2="210" y2="19.5" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4005" x1="0" y1="39" x2="210" y2="39" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4006" x1="0" y1="58.5" x2="210" y2="58.5" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4007" x1="0" y1="78" x2="210" y2="78" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG4002" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine4009" x1="0" y1="78" x2="210" y2="78" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine4008" x1="0" y1="1" x2="0" y2="78" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG3972" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG3973" class="apexcharts-series" rel="1" seriesName="Quantity" data:realIndex="0"><path id="SvgjsPath3977" d="M 1.5 78L 1.5 14.700000000000003Q 1.5 11.700000000000003 4.5 11.700000000000003L 20.5 11.700000000000003Q 23.5 11.700000000000003 23.5 14.700000000000003L 23.5 14.700000000000003L 23.5 78L 23.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 1.5 78L 1.5 14.700000000000003Q 1.5 11.700000000000003 4.5 11.700000000000003L 20.5 11.700000000000003Q 23.5 11.700000000000003 23.5 14.700000000000003L 23.5 14.700000000000003L 23.5 78L 23.5 78z" pathFrom="M 1.5 78L 1.5 78L 23.5 78L 23.5 78L 23.5 78L 23.5 78L 23.5 78L 1.5 78" cy="11.700000000000003" cx="29" j="0" val="170" barHeight="66.3" barWidth="27"></path><path id="SvgjsPath3979" d="M 31.5 78L 31.5 10.800000000000011Q 31.5 7.800000000000011 34.5 7.800000000000011L 50.5 7.800000000000011Q 53.5 7.800000000000011 53.5 10.800000000000011L 53.5 10.800000000000011L 53.5 78L 53.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 31.5 78L 31.5 10.800000000000011Q 31.5 7.800000000000011 34.5 7.800000000000011L 50.5 7.800000000000011Q 53.5 7.800000000000011 53.5 10.800000000000011L 53.5 10.800000000000011L 53.5 78L 53.5 78z" pathFrom="M 31.5 78L 31.5 78L 53.5 78L 53.5 78L 53.5 78L 53.5 78L 53.5 78L 31.5 78" cy="7.800000000000011" cx="59" j="1" val="180" barHeight="70.19999999999999" barWidth="27"></path><path id="SvgjsPath3981" d="M 61.5 78L 61.5 17.040000000000006Q 61.5 14.040000000000006 64.5 14.040000000000006L 80.5 14.040000000000006Q 83.5 14.040000000000006 83.5 17.040000000000006L 83.5 17.040000000000006L 83.5 78L 83.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 61.5 78L 61.5 17.040000000000006Q 61.5 14.040000000000006 64.5 14.040000000000006L 80.5 14.040000000000006Q 83.5 14.040000000000006 83.5 17.040000000000006L 83.5 17.040000000000006L 83.5 78L 83.5 78z" pathFrom="M 61.5 78L 61.5 78L 83.5 78L 83.5 78L 83.5 78L 83.5 78L 83.5 78L 61.5 78" cy="14.040000000000006" cx="89" j="2" val="164" barHeight="63.959999999999994" barWidth="27"></path><path id="SvgjsPath3983" d="M 91.5 78L 91.5 24.450000000000003Q 91.5 21.450000000000003 94.5 21.450000000000003L 110.5 21.450000000000003Q 113.5 21.450000000000003 113.5 24.450000000000003L 113.5 24.450000000000003L 113.5 78L 113.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 91.5 78L 91.5 24.450000000000003Q 91.5 21.450000000000003 94.5 21.450000000000003L 110.5 21.450000000000003Q 113.5 21.450000000000003 113.5 24.450000000000003L 113.5 24.450000000000003L 113.5 78L 113.5 78z" pathFrom="M 91.5 78L 91.5 78L 113.5 78L 113.5 78L 113.5 78L 113.5 78L 113.5 78L 91.5 78" cy="21.450000000000003" cx="119" j="3" val="145" barHeight="56.55" barWidth="27"></path><path id="SvgjsPath3985" d="M 121.5 78L 121.5 5.340000000000003Q 121.5 2.3400000000000034 124.5 2.3400000000000034L 140.5 2.3400000000000034Q 143.5 2.3400000000000034 143.5 5.340000000000003L 143.5 5.340000000000003L 143.5 78L 143.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 121.5 78L 121.5 5.340000000000003Q 121.5 2.3400000000000034 124.5 2.3400000000000034L 140.5 2.3400000000000034Q 143.5 2.3400000000000034 143.5 5.340000000000003L 143.5 5.340000000000003L 143.5 78L 143.5 78z" pathFrom="M 121.5 78L 121.5 78L 143.5 78L 143.5 78L 143.5 78L 143.5 78L 143.5 78L 121.5 78" cy="2.3400000000000034" cx="149" j="4" val="194" barHeight="75.66" barWidth="27"></path><path id="SvgjsPath3987" d="M 151.5 78L 151.5 14.700000000000003Q 151.5 11.700000000000003 154.5 11.700000000000003L 170.5 11.700000000000003Q 173.5 11.700000000000003 173.5 14.700000000000003L 173.5 14.700000000000003L 173.5 78L 173.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 151.5 78L 151.5 14.700000000000003Q 151.5 11.700000000000003 154.5 11.700000000000003L 170.5 11.700000000000003Q 173.5 11.700000000000003 173.5 14.700000000000003L 173.5 14.700000000000003L 173.5 78L 173.5 78z" pathFrom="M 151.5 78L 151.5 78L 173.5 78L 173.5 78L 173.5 78L 173.5 78L 173.5 78L 151.5 78" cy="11.700000000000003" cx="179" j="5" val="170" barHeight="66.3" barWidth="27"></path><path id="SvgjsPath3989" d="M 181.5 78L 181.5 20.550000000000004Q 181.5 17.550000000000004 184.5 17.550000000000004L 200.5 17.550000000000004Q 203.5 17.550000000000004 203.5 20.550000000000004L 203.5 20.550000000000004L 203.5 78L 203.5 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="5" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskafmf5kn3h)" pathTo="M 181.5 78L 181.5 20.550000000000004Q 181.5 17.550000000000004 184.5 17.550000000000004L 200.5 17.550000000000004Q 203.5 17.550000000000004 203.5 20.550000000000004L 203.5 20.550000000000004L 203.5 78L 203.5 78z" pathFrom="M 181.5 78L 181.5 78L 203.5 78L 203.5 78L 203.5 78L 203.5 78L 203.5 78L 181.5 78" cy="17.550000000000004" cx="209" j="6" val="155" barHeight="60.449999999999996" barWidth="27"></path><g id="SvgjsG3975" class="apexcharts-bar-goals-markers" style="pointer-events: none"><g id="SvgjsG3976" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG3978" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG3980" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG3982" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG3984" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG3986" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG3988" className="apexcharts-bar-goals-groups"></g></g></g><g id="SvgjsG3974" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine4010" x1="0" y1="0" x2="210" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine4011" x1="0" y1="0" x2="210" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG4012" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG4013" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG4014" class="apexcharts-point-annotations"></g></g><g id="SvgjsG3999" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG3962" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 70px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Inter, sans-serif; font-size: 14px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(26, 86, 219);"></span><div class="apexcharts-tooltip-text" style="font-family: Inter, sans-serif; font-size: 14px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
        </div>
        <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex sm:p-6">
            <div class="w-full">
                <h3 class="text-base font-normal text-gray-500">Users</h3>
                <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl">2,340</span>
                <p class="flex items-center text-base font-normal text-gray-500">
                    <span class="flex items-center mr-1.5 text-sm text-green-500">
                        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
                        </svg>
                        3,4%
                    </span>
                    Since last month
                </p>
            </div>
            <div class="w-full" id="week-signups-chart" style="min-height: 155px;"><div id="apexcharts4e7xsvjy" class="apexcharts-canvas apexcharts4e7xsvjy apexcharts-theme-light" style="width: 232px; height: 140px;"><svg id="SvgjsSvg4015" width="232" height="140" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG4017" class="apexcharts-inner apexcharts-graphical" transform="translate(12, 30)"><defs id="SvgjsDefs4016"><linearGradient id="SvgjsLinearGradient4021" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop4022" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop4023" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop4024" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient><clipPath id="gridRectMask4e7xsvjy"><rect id="SvgjsRect4026" width="214" height="78" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask4e7xsvjy"></clipPath><clipPath id="nonForecastMask4e7xsvjy"></clipPath><clipPath id="gridRectMarkerMask4e7xsvjy"><rect id="SvgjsRect4027" width="214" height="82" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><rect id="SvgjsRect4025" width="7.5" height="78" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient4021)" class="apexcharts-xcrosshairs" y2="78" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG4053" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG4054" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG4063" class="apexcharts-grid"><g id="SvgjsG4064" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine4066" x1="0" y1="0" x2="210" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4067" x1="0" y1="15.6" x2="210" y2="15.6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4068" x1="0" y1="31.2" x2="210" y2="31.2" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4069" x1="0" y1="46.8" x2="210" y2="46.8" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4070" x1="0" y1="62.4" x2="210" y2="62.4" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine4071" x1="0" y1="78" x2="210" y2="78" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG4065" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine4073" x1="0" y1="78" x2="210" y2="78" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine4072" x1="0" y1="1" x2="0" y2="78" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG4028" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG4029" class="apexcharts-series" rel="1" seriesName="Users" data:realIndex="0"><rect id="SvgjsRect4032" width="7.5" height="78" x="11.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4034" d="M 11.25 78L 11.25 46.315999999999995Q 11.25 43.315999999999995 14.25 43.315999999999995L 15.75 43.315999999999995Q 18.75 43.315999999999995 18.75 46.315999999999995L 18.75 46.315999999999995L 18.75 78L 18.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 11.25 78L 11.25 46.315999999999995Q 11.25 43.315999999999995 14.25 43.315999999999995L 15.75 43.315999999999995Q 18.75 43.315999999999995 18.75 46.315999999999995L 18.75 46.315999999999995L 18.75 78L 18.75 78z" pathFrom="M 11.25 78L 11.25 78L 18.75 78L 18.75 78L 18.75 78L 18.75 78L 18.75 78L 11.25 78" cy="43.315999999999995" cx="41.25" j="0" val="1334" barHeight="34.684000000000005" barWidth="7.5"></path><rect id="SvgjsRect4035" width="7.5" height="78" x="41.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4037" d="M 41.25 78L 41.25 17.689999999999998Q 41.25 14.689999999999998 44.25 14.689999999999998L 45.75 14.689999999999998Q 48.75 14.689999999999998 48.75 17.689999999999998L 48.75 17.689999999999998L 48.75 78L 48.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 41.25 78L 41.25 17.689999999999998Q 41.25 14.689999999999998 44.25 14.689999999999998L 45.75 14.689999999999998Q 48.75 14.689999999999998 48.75 17.689999999999998L 48.75 17.689999999999998L 48.75 78L 48.75 78z" pathFrom="M 41.25 78L 41.25 78L 48.75 78L 48.75 78L 48.75 78L 48.75 78L 48.75 78L 41.25 78" cy="14.689999999999998" cx="71.25" j="1" val="2435" barHeight="63.31" barWidth="7.5"></path><rect id="SvgjsRect4038" width="7.5" height="78" x="71.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4040" d="M 71.25 78L 71.25 35.422Q 71.25 32.422 74.25 32.422L 75.75 32.422Q 78.75 32.422 78.75 35.422L 78.75 35.422L 78.75 78L 78.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 71.25 78L 71.25 35.422Q 71.25 32.422 74.25 32.422L 75.75 32.422Q 78.75 32.422 78.75 35.422L 78.75 35.422L 78.75 78L 78.75 78z" pathFrom="M 71.25 78L 71.25 78L 78.75 78L 78.75 78L 78.75 78L 78.75 78L 78.75 78L 71.25 78" cy="32.422" cx="101.25" j="2" val="1753" barHeight="45.578" barWidth="7.5"></path><rect id="SvgjsRect4041" width="7.5" height="78" x="101.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4043" d="M 101.25 78L 101.25 46.472Q 101.25 43.472 104.25 43.472L 105.75 43.472Q 108.75 43.472 108.75 46.472L 108.75 46.472L 108.75 78L 108.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 101.25 78L 101.25 46.472Q 101.25 43.472 104.25 43.472L 105.75 43.472Q 108.75 43.472 108.75 46.472L 108.75 46.472L 108.75 78L 108.75 78z" pathFrom="M 101.25 78L 101.25 78L 108.75 78L 108.75 78L 108.75 78L 108.75 78L 108.75 78L 101.25 78" cy="43.472" cx="131.25" j="3" val="1328" barHeight="34.528" barWidth="7.5"></path><rect id="SvgjsRect4044" width="7.5" height="78" x="131.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4046" d="M 131.25 78L 131.25 50.97Q 131.25 47.97 134.25 47.97L 135.75 47.97Q 138.75 47.97 138.75 50.97L 138.75 50.97L 138.75 78L 138.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 131.25 78L 131.25 50.97Q 131.25 47.97 134.25 47.97L 135.75 47.97Q 138.75 47.97 138.75 50.97L 138.75 50.97L 138.75 78L 138.75 78z" pathFrom="M 131.25 78L 131.25 78L 138.75 78L 138.75 78L 138.75 78L 138.75 78L 138.75 78L 131.25 78" cy="47.97" cx="161.25" j="4" val="1155" barHeight="30.03" barWidth="7.5"></path><rect id="SvgjsRect4047" width="7.5" height="78" x="161.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4049" d="M 161.25 78L 161.25 38.568Q 161.25 35.568 164.25 35.568L 165.75 35.568Q 168.75 35.568 168.75 38.568L 168.75 38.568L 168.75 78L 168.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 161.25 78L 161.25 38.568Q 161.25 35.568 164.25 35.568L 165.75 35.568Q 168.75 35.568 168.75 38.568L 168.75 38.568L 168.75 78L 168.75 78z" pathFrom="M 161.25 78L 161.25 78L 168.75 78L 168.75 78L 168.75 78L 168.75 78L 168.75 78L 161.25 78" cy="35.568" cx="191.25" j="5" val="1632" barHeight="42.432" barWidth="7.5"></path><rect id="SvgjsRect4050" width="7.5" height="78" x="191.25" y="0" rx="3" ry="3" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#374151" class="apexcharts-backgroundBar"></rect><path id="SvgjsPath4052" d="M 191.25 78L 191.25 46.263999999999996Q 191.25 43.263999999999996 194.25 43.263999999999996L 195.75 43.263999999999996Q 198.75 43.263999999999996 198.75 46.263999999999996L 198.75 46.263999999999996L 198.75 78L 198.75 78z" fill="rgba(26,86,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask4e7xsvjy)" pathTo="M 191.25 78L 191.25 46.263999999999996Q 191.25 43.263999999999996 194.25 43.263999999999996L 195.75 43.263999999999996Q 198.75 43.263999999999996 198.75 46.263999999999996L 198.75 46.263999999999996L 198.75 78L 198.75 78z" pathFrom="M 191.25 78L 191.25 78L 198.75 78L 198.75 78L 198.75 78L 198.75 78L 198.75 78L 191.25 78" cy="43.263999999999996" cx="221.25" j="6" val="1336" barHeight="34.736000000000004" barWidth="7.5"></path><g id="SvgjsG4031" class="apexcharts-bar-goals-markers" style="pointer-events: none"><g id="SvgjsG4033" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG4036" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG4039" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG4042" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG4045" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG4048" className="apexcharts-bar-goals-groups"></g><g id="SvgjsG4051" className="apexcharts-bar-goals-groups"></g></g></g><g id="SvgjsG4030" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine4074" x1="0" y1="0" x2="210" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine4075" x1="0" y1="0" x2="210" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG4076" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG4077" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG4078" class="apexcharts-point-annotations"></g></g><g id="SvgjsG4062" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG4018" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 70px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Inter, sans-serif; font-size: 14px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(26, 86, 219);"></span><div class="apexcharts-tooltip-text" style="font-family: Inter, sans-serif; font-size: 14px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
        </div>
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6">
            <div class="w-full">
                <h3 class="mb-2 text-base font-normal text-gray-500">Audience by age</h3>
                <div class="flex items-center mb-2">
                    <div class="w-16 text-sm font-medium">50+</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-primary-600 h-2.5 rounded-full" style="width: 18%"></div>
                    </div>
                </div>
                <div class="flex items-center mb-2">
                    <div class="w-16 text-sm font-medium">40+</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-primary-600 h-2.5 rounded-full" style="width: 15%"></div>
                    </div>
                </div>
                <div class="flex items-center mb-2">
                    <div class="w-16 text-sm font-medium">30+</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-primary-600 h-2.5 rounded-full" style="width: 60%"></div>
                    </div>
                </div>
                <div class="flex items-center mb-2">
                    <div class="w-16 text-sm font-medium">20+</div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-primary-600 h-2.5 rounded-full" style="width: 30%"></div>
                    </div>
                </div>
            </div>
            <div id="traffic-channels-chart" class="w-full"></div>
        </div>
    </div>
    <!-- 2 columns -->
    <div class="grid grid-cols-1 my-4 xl:grid-cols-2 xl:gap-4">
        <!-- Activity Card -->
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 xl:mb-0">
            <div class="flex items-center justify-between mb-4">
                <h3 class="text-lg font-semibold text-gray-900">Latest Activity</h3>
                <a href="#" class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-primary-700 hover:bg-gray-100">
                    View all
                </a>
            </div>
            <ol class="relative border-l border-gray-200">
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">April 2023</time>
                    <h3 class="text-lg font-semibold text-gray-900 mt-1">Application UI design in Figma</h3>
                    <p class="mb-4 text-base font-normal text-gray-500 mt-2">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce &amp; Marketing pages.</p>
                    <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-primary-700">Learn more <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a>
                </li>
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">March 2023</time>
                    <h3 class="text-lg font-semibold text-gray-900 mt-1">Marketing UI code in Flowbite</h3>
                    <p class="mb-4 text-base font-normal text-gray-500 mt-2">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">February 2023</time>
                    <h3 class="text-lg font-semibold text-gray-900 mt-1">Marketing UI design in Figma</h3>
                    <p class="text-base font-normal text-gray-500 mt-2">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                </li>
            </ol>
        </div>
        <!--Carousel widget -->
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6">
            <div id="carousel" class="relative" data-carousel="">
                <div class="relative mx-auto overflow-hidden h-[36rem] lg:h-[24rem]">
                    <div class="duration-700 ease-in-out bg-white absolute inset-0 transition-transform transform translate-x-0 z-20" data-carousel-item="">
                        <div class="flex items-center mb-4 text-lg font-medium text-primary-600">
                            <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M9.664 1.319a.75.75 0 01.672 0 41.059 41.059 0 018.198 5.424.75.75 0 01-.254 1.285 31.372 31.372 0 00-7.86 3.83.75.75 0 01-.84 0 31.508 31.508 0 00-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 013.305-2.033.75.75 0 00-.714-1.319 37 37 0 00-3.446 2.12A2.216 2.216 0 006 9.393v.38a31.293 31.293 0 00-4.28-1.746.75.75 0 01-.254-1.285 41.059 41.059 0 018.198-5.424zM6 11.459a29.848 29.848 0 00-2.455-1.158 41.029 41.029 0 00-.39 3.114.75.75 0 00.419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 101.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 013.095 2.348.75.75 0 00.992 0 26.547 26.547 0 015.93-3.95.75.75 0 00.42-.739 41.053 41.053 0 00-.39-3.114 29.925 29.925 0 00-5.199 2.801 2.25 2.25 0 01-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 01-1.084 3.45 26.503 26.503 0 00-1.281-.78A5.487 5.487 0 006 12v-.54z"></path>
                            </svg>
                            Insights
                        </div>
                        <h3 class="mb-4 text-2xl font-medium text-gray-900">You are going to grow by 44% next year</h3>
                        <p class="mb-4 text-gray-500">Get started with a free and open-source admin dashboard layout built with Tailwind CSS and Flowbite featuring charts, widgets, CRUD layouts, authentication pages, and more</p>
                        <p class="mb-2 text-lg font-medium text-gray-900">Key Takeaways:</p>
                        <ul class="pl-4 mb-4 space-y-3 text-gray-500 list-disc">
                            <li>What are the new challenges in the delivery industry due to new consumer expectations.</li>
                            <li>How the online delivery business model is diversifying to meet new demands.</li>
                            <li>Which new technology requirements must be met to ensure true retail experiences.</li>
                            <li>How a headless commerce architecture solves challenges in the industry.</li>
                        </ul>
                        <a href="#" class="inline-flex items-center p-2 font-medium rounded-lg text-primary-700 hover:bg-gray-100">
                            Get me there
                            <svg class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="duration-700 ease-in-out bg-white absolute inset-0 transition-transform transform translate-x-full z-10" data-carousel-item="">
                        <div class="flex items-center mb-4 text-lg font-medium text-teal-500">
                            <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M4.606 12.97a.75.75 0 01-.134 1.051 2.494 2.494 0 00-.93 2.437 2.494 2.494 0 002.437-.93.75.75 0 111.186.918 3.995 3.995 0 01-4.482 1.332.75.75 0 01-.461-.461 3.994 3.994 0 011.332-4.482.75.75 0 011.052.134z"></path>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M5.752 12A13.07 13.07 0 008 14.248v4.002c0 .414.336.75.75.75a5 5 0 004.797-6.414 12.984 12.984 0 005.45-10.848.75.75 0 00-.735-.735 12.984 12.984 0 00-10.849 5.45A5 5 0 001 11.25c.001.414.337.75.751.75h4.002zM13 9a2 2 0 100-4 2 2 0 000 4z"></path>
                            </svg>
                            Tips to grow
                        </div>
                        <p class="mb-4 text-gray-500">Marketing, sales &amp; business growth for small business. Improve your marketing &amp; promotion results - and grow your sales!</p>
                        <p class="mb-4 text-lg font-medium text-gray-900">What you'll learn:</p>
                        <ul role="list" class="pl-2 mb-4 space-y-3 text-gray-500 list-disc">
                            <li class="flex space-x-2">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"></path>
                                </svg>
                                <span class="leading-tight">Dynamic reports and dashboards</span>
                            </li>
                            <li class="flex space-x-2">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"></path>
                                </svg>
                                <span class="leading-tight">Learn from competitors about what to do, and not to do</span>
                            </li>
                            <li class="flex space-x-2">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"></path>
                                </svg>
                                <span class="leading-tight">Take their business to the next level</span>
                            </li>
                            <li class="flex space-x-2">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"></path>
                                </svg>
                                <span class="leading-tight">Limitless business automation</span>
                            </li>
                            <li class="flex space-x-2">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"></path>
                                </svg>
                                <span class="leading-tight">Build relationships with other businesses to co-promote</span>
                            </li>
                            <li class="flex space-x-2">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"></path>
                                </svg>
                                <span class="leading-tight">Make their customers feel loved and apprecaited</span>
                            </li>
                        </ul>
                        <a href="#" class="inline-flex items-center p-2 font-medium rounded-lg text-primary-700 hover:bg-gray-100">
                            Let's start
                            <svg class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="duration-700 ease-in-out bg-white absolute inset-0 transition-transform transform -translate-x-full z-10" data-carousel-item="">
                        <div class="flex items-center mb-4 text-lg font-medium text-purple-600">
                            <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M13.5 4.938a7 7 0 11-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 01.572-2.759 6.026 6.026 0 012.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0013.5 4.938zM14 12a4 4 0 01-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 001.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 011.315-4.192.447.447 0 01.431-.16A4.001 4.001 0 0114 12z"></path>
                            </svg>
                            Features
                        </div>
                        <h3 class="mb-4 text-2xl font-medium text-gray-900">Go next level with Flowbite</h3>
                        <p class="text-gray-500">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.</p>
                        <!-- List -->
                        <ul role="list" class="pl-2 my-5 mb-4 space-y-3 text-gray-500 list-disc">
                            <li class="flex space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                <span class="leading-tight">Dynamic reports and dashboards</span>
                            </li>
                            <li class="flex space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                <span class="leading-tight">Templates for everyone</span>
                            </li>
                            <li class="flex space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                <span class="leading-tight">Development workflow</span>
                            </li>
                            <li class="flex space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-purple-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                <span class="leading-tight">Limitless business automation</span>
                            </li>
                        </ul>
                        <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                            View more
                            <svg class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex items-center justify-center">
                    <button type="button" class="flex items-center justify-center h-full mr-4 cursor-pointer group focus:outline-none" data-carousel-prev="">
                        <span class="text-gray-500 hover:text-gray-700">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                            <span class="hidden">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="flex items-center justify-center h-full cursor-pointer group focus:outline-none" data-carousel-next="">
                        <span class="text-gray-500 hover:text-gray-700">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="hidden">Next</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
