@{
    ViewData["Title"] = "Home Page";
}

<div class="border rounded-lg overflow-hidden m-4 shadow-lg ml-[144px]">
    <div class="sticky top-0 z-50  border-b  border-gray-300 bg-white py-5 px-8 text-left text-sm  text-gray-800">
        <h4 class=" inline-block py-1 text-left font-sans font-semibold normal-case">Lara Abegnale</h4>
    </div>
    <div class="flex-grow px-8 pt-8 text-left text-gray-700">
        <div class="relative mb-6 text-center">
            <span class="relative bg-white px-2 text-sm text-gray-600">28 June, 2022</span>
        </div>

        <div class="relative mb-6 text-left">
            <div class="text-gray-700">
                <div class="absolute inset-x-0 top-0">
                    <img src="/images/fR71TFZIDTv2jhvKsOMhC.png" alt="" class="float-right inline-block h-6 w-6 sm:h-12 sm:w-12 rounded-full">
                </div>
                <div class="relative float-right mr-8 sm:mr-16 inline-block rounded-md bg-blue-700 py-3 px-4 text-white">
                    <p class="text-sm">Hi, John</p>
                </div>
            </div>
            <div class="clear-both flex text-gray-700"></div>
        </div>

        <div class="relative mb-6 text-left">
            <div class="text-gray-700">
                <div class="absolute inset-x-0 top-0">
                    <img src="/images/fR71TFZIDTv2jhvKsOMhC.png" alt="" class="float-right inline-block h-6 w-6 sm:h-12 sm:w-12 rounded-full">
                </div>
                <div class="relative float-right mr-8 sm:mr-16 inline-block rounded-md bg-blue-700 py-3 px-4 text-white">
                    <p class="text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, dicta.</p>
                </div>
            </div>
            <div class="clear-both flex text-gray-700"></div>
        </div>

        <div class="relative mb-6 text-center">
            <span class="relative bg-white px-2 text-sm text-gray-600">Yesterday</span>
        </div>

        <div class="relative mb-6 text-left">
            <div class="text-gray-700">
                <div class="absolute inset-x-0 top-0">
                    <img src="/images/fR71TFZIDTv2jhvKsOMhC.png" alt="" class="float-right inline-block h-6 w-6 sm:h-12 sm:w-12 rounded-full">
                </div>
                <div class="relative float-right mr-8 sm:mr-16 inline-block rounded-md bg-blue-700 py-3 px-4 text-white">
                    <p class="text-sm">Option congue nihil imperdiet mazim placerat facer possim.</p>
                </div>
            </div>
            <div class="clear-both flex text-gray-700"></div>
        </div>

        <div class="relative mb-6 text-left">
            <div class="text-gray-700">
                <div class="absolute top-0 left-0">
                    <img src="/images/y9s3xOJV6rnQPKIrdPYJy.png" alt="" class="float-right inline-block h-6 w-6 sm:h-12 sm:w-12 rounded-full">
                </div>
                <div class="relative float-left ml-8 sm:ml-16 inline-block rounded-md bg-gray-200 py-3 px-4">
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quia optio accusamus.</p>
                </div>
            </div>
            <div class="clear-both flex text-gray-700"></div>
        </div>

        <div class="relative mb-6 text-left">
            <div class="text-gray-700">
                <div class="absolute inset-x-0 top-0">
                    <img src="/images/fR71TFZIDTv2jhvKsOMhC.png" alt="" class="float-right inline-block h-6 w-6 sm:h-12 sm:w-12 rounded-full">
                </div>
                <div class="relative float-right mr-8 sm:mr-16 inline-block rounded-md bg-blue-700 py-3 px-4 text-white">
                    <p class="text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                </div>
            </div>
            <div class="clear-both flex text-gray-700"></div>
        </div>

        <div class="relative mb-6 text-left">
            <div class="text-gray-700">
                <div class="absolute top-0 left-0">
                    <img src="/images/y9s3xOJV6rnQPKIrdPYJy.png" alt="" class="float-right inline-block h-6 w-6 sm:h-12 sm:w-12 rounded-full">
                </div>
                <div class="relative float-left ml-8 sm:ml-16 inline-block rounded-md bg-gray-200 py-3 px-4">
                    <!-- Typing Indicator -->
                    <div class="h-6 pt-2">
                        <span class="rounded-full float-left mx-px h-2 w-2 bg-gray-500"></span>
                        <span class="rounded-full float-left mx-px h-2 w-2 bg-gray-500"></span>
                        <span class="rounded-full float-left mx-px h-2 w-2 bg-gray-500"></span>
                    </div>
                </div>
            </div>
            <div class="clear-both flex text-gray-700"></div>
        </div>
        <div class="mt-4  flex items-start border-t  border-gray-300 sm:p-8 py-4 text-left  text-gray-700">
            <textarea cols="1" rows="1" placeholder="Your Message" class="mr-4 overflow-hidden w-full flex-1 cursor-text resize-none whitespace-pre-wrap rounded-md bg-white text-sm py-2 sm:py-0 font-normal text-gray-600 opacity-70 shadow-none outline-none focus:text-gray-600 focus:opacity-100"></textarea>
            <button class="relative  inline-flex h-10 w-auto flex-initial cursor-pointer items-center justify-center self-center  rounded-md bg-blue-700 px-6 text-center align-middle text-sm font-medium text-white outline-none focus:ring-2">Send</button>
        </div>
    </div>

</div>