@{
    ViewData["Title"] = "Tutorial";
}

<div class="relative rounded-lg overflow-hidden box-shadow bg-white h-full py-5 px-8">
    <div class="mb-4 lg:mb-0 pb-5 pt-3">
        <h3 class="mb-2 text-xl font-bold text-gray-900">Tutorial</h3>
        <span class="text-base font-normal text-gray-500">This is a list of system's agents</span>
    </div>
</div>