@model string

@{

}

<div class="relative mb-6 text-left">
    <div class="text-gray-700">
        <div class="relative float-left inline-block rounded-md bg-gray-100 py-3 px-4 shadow-md">
            <p class="text-sm">@Model</p>
        </div>
    </div>
    <div class="clear-both flex text-gray-700"></div>
</div>