@model string

@{

}

<div class="relative mb-6 text-left">
    <div class="text-gray-700">
        <div class="relative float-right inline-block rounded-md bg-indigo-500 py-3 px-4 text-white">
            <p class="text-sm">@Model</p>
        </div>
    </div>
    <div class="clear-both flex text-gray-700"></div>
</div>