@{
    ViewData["Title"] = "Knowledge Base";
}

<div class="relative rounded-lg overflow-hidden box-shadow bg-white py-5 px-6 my-4">
    <div class="relative bg-white sm:rounded-1xl ">
        <div class="grid sm:grid-cols-2 gap-4">
            <div class="border-b sm:border-b-0 sm:border-r relative pr-4">
                <div class="mb-4 lg:mb-0 pb-8 pt-3">
                    <h3 class="mb-2 text-xl font-bold text-gray-900">Knowledge Base</h3>
                    <span class="text-base font-normal text-gray-500">Modify agent's knowledge base</span>
                </div>
                <div class="mt-4">
                    <ul class="grid grid-cols-1 w-full gap-2 mb-1">
                        <li>
                            <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer" required>
                            <label for="hosting-small" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-indigo-600 peer-checked:text-indigo-600 hover:text-gray-600 hover:bg-gray-50">
                                <div class="block">
                                    <div class="w-full text-base font-semibold">No content uploaded yet!</div>
                                </div>
                                <svg class="w-5 h-5 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
                                </svg>
                            </label>
                        </li>
                        <!--<li>
                            <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="hidden peer">
                            <label for="hosting-big" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-indigo-600 peer-checked:text-indigo-600 hover:text-gray-600 hover:bg-gray-50">
                                <div class="block">
                                    <div class="w-full text-base font-semibold">Attachment2.md</div>
                                    <div class="w-full text-xs mt-1">15 MB</div>
                                </div>
                                <svg class="w-5 h-5 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </label>
                        </li>-->
                    </ul>
                    <div class="sm:col-span-2 mt-5">
                        <label for="attachment-input" class="block text-sm font-semibold leading-6 text-gray-900">Upload file<span class="text-xs text-gray-500"> (optional) </span></label>
                        <label for="attachment-input" class="block text-sm font-semibold leading-6 text-gray-900 mt-1 mb-3"><span class="text-xs text-gray-500">(drop files to interact with it)</span></label>
                        <div id="drag-drop-area" class="flex items-center justify-center w-full">
                            <label for="attachment-input" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                    <p class="text-xs text-gray-500">PDF (MAX. 10MB each)</p>
                                </div>
                                <input id="attachment-input" name="attachments" accept="application/pdf" type="file" class="hidden" multiple />
                            </label>
                        </div>

                        <div id="attachments-container" class="mt-2"></div>
                    </div>

                    <div class="sm:col-span-2 mt-5">
                        <label for="urls" class="block text-sm font-semibold leading-6 text-gray-900">Scrape a webpage <span class="text-xs text-gray-500"> (optional) </span></label>
                        <label for="urls" class="block text-sm font-semibold leading-6 text-gray-900 mt-1"><span class="text-xs text-gray-500">(to be interacted with, enter single or more links 5 MAX seperated by spaces or new lines)</span></label>
                        <div class="mt-2.5">
                            <textarea placeholder="https://example.com https://another-example.com" name="urls" id="urls" rows="4" class="bg-gray-100 cursor-not-allowed block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-2">
                <div class="pb-4 pt-3">
                    <h3 class="text-xl font-bold text-gray-900">Preview</h3>
                </div>
                <div class="mt-4">
                    <div class="block p-4 bg-indigo-50 border-0 rounded-lg">
                        <p class="font-normal text-gray-700">
                            No content to preview, please pick a content from left-hand side!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const TOTAl_ALLOWED_FILE_SIZE = 20000000;
        var attachmentInputElement = document.querySelector("#attachment-input");
        var attachmentsContainerElement = document.querySelector("#attachments-container");
        var dragAreaElement = document.querySelector("#drag-drop-area");

        binding.uploadTrigger(attachmentInputElement, handleAttachment);
        binding.dropTrigger(dragAreaElement, handleFilesDrop);

        var attachments = [];


        function createAttachmentElement() {
            var identifier = "attachment-" + utility.shortGUID();
            var temporaryElement = document.createElement("div");

            temporaryElement.innerHTML += `
                        <div id=${identifier} class="flex items-center justify-between relative p-4 w-full text-gray-700 bg-white rounded-lg overflow-hidden shadow hover:shadow-md mt-2">
                            <div class="flex items-center">
                                <svg class="w-5 h-5 stroke-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 1v4a1 1 0 0 1-1 1H1m4 6 2 2 4-4m4-8v16a.97.97 0 0 1-.933 1H1.933A.97.97 0 0 1 1 18V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.828 1h8.239A.97.97 0 0 1 15 2Z" />
                                </svg>
                                <div class="ml-3">
                                    <p class="attachment-name" class="font-bold text-sm text-gray-800">Annaulreport.pdf</p>
                                    <p class="attachment-size" class="text-xs text-gray-600">242 Kb</p>
                                </div>
                            </div>
                            <div class="flex items-center text-gray-600">
                                        <button type="button" class="drop-attachment">
                                    <svg class="w-4 h-4 stroke-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                        <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    `;

            return temporaryElement.querySelector(`#${identifier}`);
        }

        function handleAttachment(event) {
            var files = event.target.files;

            if (!isValidAttachments(files)) {
                return;
            }

            createAttachmentElements(files);
        }

        function handleFilesDrop(event) {
            var files = Array.from(event.dataTransfer.files);

            if (!isValidAttachments(files)) {
                return;
            }

            createAttachmentElements(files);

            event.preventDefault();
        }

        function isValidAttachments(files) {
            var totalSize = 0;

            for (var file of [...files, ...attachments]) {
                totalSize += file.size;

                if (totalSize >= TOTAl_ALLOWED_FILE_SIZE) {
                    notification.error("Nope, attachments limit is 20MB");
                    return false;
                }
            }

            return true;
        }

        function createAttachmentElements(files) {
            for (var file of files) {
                var attachmentElement = createAttachmentElement();

                attachments.push(file);

                attachmentElement.querySelector(".attachment-size").innerHTML = utility.sizeToReadableString(file.size);
                attachmentElement.querySelector(".attachment-name").innerHTML = utility.stringEllipsis(file.name, 10);

                (function (context, currentFile) {
                    context.querySelector(".drop-attachment").addEventListener("click", function (event) {
                        attachments = attachments.filter(function (attachment) {
                            return currentFile.name !== attachment.name;
                        });
                        context.remove();
                    });
                })(attachmentElement, file);

                attachmentsContainerElement.appendChild(attachmentElement);
            }
        }
    </script>
}