@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
    line-height: normal !important;
}

body, html {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.wrapper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.svg-circuit {
    position: absolute;
    height: 500%;
    width: 500%;
    transform: translate(-50%, -50%);
}

.path-circuit {
    animation: draw-svg-circuit 20s infinite;
    animation-timing-function: linear;
}

@keyframes draw-svg-circuit {
    0% {
    }

    100% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }
}