@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'ge-flow';
    line-height: normal !important;
}

body, html {
    height: 100vh;
    position: relative;
    background-color: #F2F2F2;
}

.wrapper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}